In [33]:
#Charger les biblio
import numpy as np
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
import numpy as np
import string 
from subprocess import check_output
import seaborn as sns
from pylab import *
%matplotlib inline
sns.set()

In [72]:
# Lire la table avec 'header'
df = pd.read_csv('Hmvl2.csv', sep=';', engine='python')

In [52]:
# Remplacer les NaN par des zeros dans trame_hmvl
df.trame_hmvl.fillna('0', inplace=True)

In [53]:
# Reindexer la dataframe
df.index = range(len(df))

In [54]:
#changeaons les noms de colonnes
df.columns = ['code', 'id','equipement_id', 'date','trame']

In [55]:
df.head()

,code,id,equipement_id,date,trame
0,MBS,7357,7357,2019-02-18 00:00:00.146,0543110903705431109037256930750412569307504125...
1,MPA,7356,7356,2019-02-18 00:00:00.146,@
2,MPH,7355,7355,2019-02-18 00:00:00.146,058520920440585209204405852092044@
3,SFB-TPCCEN_RDTSCB001,7850,7850,2019-02-18 00:00:01.374,@
4,SMA-INTBAU_RDTSCB001,7859,7859,2019-02-18 00:00:01.374,@

In [56]:
# On enl√®ve les @
df["trame"] = df["trame"].str.replace("@", "")

In [58]:
# On ajoute une colonne Count pour compter chacune
df['Count'] = df['trame'].str.len()

In [59]:
df.head()

,code,id,equipement_id,date,trame,Count
0,MBS,7357,7357,2019-02-18 00:00:00.146,0543110903705431109037256930750412569307504125...,55
1,MPA,7356,7356,2019-02-18 00:00:00.146,,0
2,MPH,7355,7355,2019-02-18 00:00:00.146,058520920440585209204405852092044,33
3,SFB-TPCCEN_RDTSCB001,7850,7850,2019-02-18 00:00:01.374,,0
4,SMA-INTBAU_RDTSCB001,7859,7859,2019-02-18 00:00:01.374,,0

In [69]:
df.groupby("Count").count().head()

         code      id  equipement_id    date   trame
Count
1       86402   86402          86402   86402   86402
5           1       1              1       1       1
11     149327  149327         149327  149327  149327
12        245     245            245     245     245
16          1       1              1       1       1

In [7]:
df.Count.max()/11

46.0

In [68]:
# lignes differentes de zero
df = df[df.Count != 0]

In [70]:
# lignes differentes de 1
df = df[df.Count != 1]

Donc il faut cr√©er 46 nouveaux champs qui contient les 11 caract√®res pour chaque v√©hicules.

In [71]:
# Supprimons la colonne
df = df.drop(['Count'], axis=1)

In [13]:
##### UNE LISTE A MINIMISER #######
liste = ["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x31','x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45']
#,'x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45'

In [14]:
# s√©parer les caract√®res de la colonne trame 
for i in range(len(liste)):
    df[liste[i]] = df["trame"].str.slice(11*i,11*(i+1))

In [49]:
# Cr√©er 14 tables vides
##### UNE LISTE A MINIMISER #######
#l = ['df0','df1','df2','df3','df4','df5','df6','df7','df8','df9','df10','df11','df12', 'df13',
     #'df14','df15','df16', 'df17','df18','df19','df20', 'df23','df21','df22', 'df24'
    #,'df25','df26','df27', 'df28','df29','df31','df32', 'df33','df30','df34'
    #,'df35','df36','df37', 'df38','df39','df40','df41', 'df42','df43','df44','df45']
l2 = range(46)
np.str(l2)
for c in l:
    c =  'dff'+ c
    exec('{} = pd.DataFrame()'.format(c))

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U21') dtype('<U21') dtype('<U21')

In [45]:
dff45

NameError: name 'dff45' is not defined

In [15]:
# Supprimer les colonnes xj

# df0 = df[['x0','date','id','code']]
df0 = df.drop(["x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)
# df1
df1 = df.drop(["x0","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14','x15',
               'x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df2 = df.drop(["x0","x1","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45' ,'trame'], axis=1)
df3 = df.drop(["x0","x1","x2","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45','trame'], axis=1)

df4 = df.drop(["x0","x1","x2","x3","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df5 = df.drop(["x0","x1","x2","x3","x4","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45','trame'], axis=1)

df6 = df.drop(["x0","x1","x2","x3","x4","x5","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df7 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45','trame'], axis=1)

In [18]:
df8 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)
df9 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df10 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df11 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)
df12 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df13 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)
df14 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df15 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df16 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)
df17 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df18 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)
df19 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df20 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

In [19]:

df21 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df22 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df23 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)
df24 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df25 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df26 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df27 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df28 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)
df29 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df30 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

In [20]:
df31 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df32 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df33 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)
df34 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df35 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df36 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df37 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x38','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df38 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x39','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)
df39 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x40', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df40 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39', 'x41', 'x42', 'x43', 'x44','x45', 'trame'], axis=1)
df41 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x12', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40',  'x42', 'x43', 'x44','x45', 'trame'], axis=1)

df42 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11', 'x13', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41',  'x43', 'x44','x45', 'trame'], axis=1)

df43 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x14'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42',  'x44','x45', 'trame'], axis=1)
df44 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13'
        ,'x15','x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x45', 'trame'], axis=1)

df45 = df.drop(["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10','x11','x12', 'x13', 'x14'
        ,'x16','x17','x18','x19','x20', 'x21', 'x22','x23','x24','x25','x26','x27','x28','x29','x30'
        ,'x32','x33','x34','x35','x36','x37','x38','x39','x40', 'x41', 'x42', 'x43', 'x44', 'trame'], axis=1)

In [21]:

##### CODE A MINIMISER #######
l = [df0,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12, df13,
     df14,df15,df16, df17,df18,df19,df20,df21,df22,df23
    , df24 ,df25,df26,df27, df28,df29,df30,df31,df32]
#, df33,df34,df35,df36,df37,df38,df39,df40,df41, df42,df43,df44,df45
    # S√©parer la colonne xi en 4 colonnes  
for i, f in zip(range( len(liste)), l):
    f["voie"] = f[liste[i]].str.slice(0,1)
    f["horodatage"] = f[liste[i]].str.slice(1,5)
    f["vitesse"] = f[liste[i]].str.slice(5,8)
    f["longueur"] = f[liste[i]].str.slice(8,11)

In [29]:
df1

,code,id,equipement_id,date,x1,x31,voie,horodatage,vitesse,longueur
0,MBS,7357,7357,2019-02-18 00:00:00.146,05431109037,,0,5431,109,037
1,MPA,7356,7356,2019-02-18 00:00:00.146,,,,,,
2,MPH,7355,7355,2019-02-18 00:00:00.146,05852092044,,0,5852,092,044
3,SFB-TPCCEN_RDTSCB001,7850,7850,2019-02-18 00:00:01.374,,,,,,
4,SMA-INTBAU_RDTSCB001,7859,7859,2019-02-18 00:00:01.374,,,,,,
5,TMA-INTN01_RDTSCB002,7860,7860,2019-02-18 00:00:01.374,,,,,,
6,M1b,6383,6383,2019-02-18 00:00:02.069,,,,,,
7,M1c,6384,6384,2019-02-18 00:00:02.069,,,,,,
8,M1d,6385,6385,2019-02-18 00:00:02.069,,,,,,
9,M1e,6386,6386,2019-02-18 00:00:02.069,,,,,,
10,M3b,6335,6335,2019-02-18 00:00:02.069,,,,,,
11,M3C,6319,6319,2019-02-18 00:00:02.069,,,,,,
12,M3d,6337,6337,2019-02-18 00:00:02.069,,,,,,
13,M3D,6320,6320,2019-02-18 00:00:02.069,,,,,,
14,M3i,6340,6340,2019-02-18 00:00:02.069,,,,,,
15,M3j,6341,6341,2019-02-18 00:00:02.069,,,,,,
16,M3p,6347,6347,2019-02-18 00:00:02.069,04096085048,,0,4096,085,048
17,M3q,6348,6348,2019-02-18 00:00:02.069,02954083034,,0,2954,083,034
18,M3y,6354,6354,2019-02-18 00:00:02.069,,,,,,
19,M5h,6415,6415,2019-02-18 00:00:02.069,,,,,,
20,M5k,6418,6418,2019-02-18 00:00:02.069,05233077031,,0,5233,077,031
21,M5S,6409,6409,2019-02-18 00:00:02.069,,,,,,
22,M5T,7818,7818,2019-02-18 00:00:02.069,35534097039,,3,5534,097,039
23,M5U,7819,7819,2019-02-18 00:00:02.069,,,,,,
24,M5x,6428,6428,2019-02-18 00:00:02.069,,,,,,
25,M7q,6465,6465,2019-02-18 00:00:02.069,,,,,,
26,M8e,6473,6473,2019-02-18 00:00:02.069,,,,,,
27,M8F,6448,6448,2019-02-18 00:00:02.069,44712113032,,4,4712,113,032
28,M1a,6382,6382,2019-02-18 00:00:03.049,11842139037,,1,1842,139,037
29,M1A,10431,10431,2019-02-18 00:00:03.049,,,,,,
...,...,...,...,...,...,...,...,...,...,...
1087427,M8P,6456,6456,2019-02-18 16:22:46.049,22239076037,,2,2239,076,037
1087428,MPF,7353,7353,2019-02-18 16:22:48.262,,,,,,
1087429,MPB,7352,7352,2019-02-18 16:22:49.163,04495109040,,0,4495,109,040
1087430,MPG,7354,7354,2019-02-18 16:22:49.163,04497121042,,0,4497,121,042
1087431,EAR1INTBAU_RDTSTC030,7857,7857,2019-02-18 16:22:51.566,,,,,,
1087432,EAR1INTBAU_RDTSTC031,7858,7858,2019-02-18 16:22:51.566,,,,,,
1087433,SBM-TPCCEN_RDTSTC002,7849,7849,2019-02-18 16:22:51.566,74389086037,,7,4389,086,037
1087434,SMA-INTBAU_RDTSCB001,7859,7859,2019-02-18 16:22:51.566,00674063035,,0,0674,063,035
1087435,SMT-EXTBAU_RDTSTC002,7847,7847,2019-02-18 16:22:51.566,34424070038,,3,4424,070,038
1087436,SMT-INTBAU_RDTSTC001,7848,7848,2019-02-18 16:22:51.566,24301063046,,2,4301,063,046
1087437,SPF-EXTBAU_RDTSTC001,7851,7851,2019-02-18 16:22:51.566,54273084049,,5,4273,084,049
1087438,STJ-INTBAU_RDTSTC001,7846,7846,2019-02-18 16:22:51.566,54366069052,,5,4366,069,052
1087439,TFO-INTBAU_RDTSTC002,7852,7852,2019-02-18 16:22:51.566,24496076046,,2,4496,076,046
1087440,TMA-INTN01_RDTSCB002,7860,7860,2019-02-18 16:22:51.566,24934067033,,2,4934,067,033
1087441,TOL-EXTN04_RDTSTC001,7862,7862,2019-02-18 16:22:51.566,,,,,,
1087442,TPA-EXTBAU_RDTSTC001,7855,7855,2019-02-18 16:22:51.566,24296065047,,2,4296,065,047
1087443,TPA-EXTBAU_RDTSTC002,7854,7854,2019-02-18 16:22:51.566,34295068033,,3,4295,068,033
1087444,TPA-EXTBAU_RDTSTC004,7856,7856,2019-02-18 16:22:51.566,,,,,,
1087445,TPA-INTBAU_RDTSTC003,7853,7853,2019-02-18 16:22:51.566,44560064036,,4,4560,064,036
1087446,M1c,6384,6384,2019-02-18 16:22:51.908,00647076039,,0,0647,076,039
1087447,M3b,6335,6335,2019-02-18 16:22:51.908,03757054044,,0,3757,054,044
1087448,M3c,6336,6336,2019-02-18 16:22:51.908,05557073041,,0,5557,073,041
1087449,M3d,6337,6337,2019-02-18 16:22:51.908,14852071023,,1,4852,071,023
1087450,M3i,6340,6340,2019-02-18 16:22:51.908,21237,,2,1237,,
1087451,M5e,6413,6413,2019-02-18 16:22:51.908,25601063030,,2,5601,063,030
1087452,M5h,6415,6415,2019-02-18 16:22:51.908,00073079037,,0,0073,079,037
1087453,M5k,6418,6418,2019-02-18 16:22:51.908,13424111031,,1,3424,111,031
1087454,M5l,6419,6419,2019-02-18 16:22:51.908,30186071039,,3,0186,071,039
1087455,M7o,6463,6463,2019-02-18 16:22:51.908,04587092069,,0,4587,092,069
1087456,M8b,6471,6471,2019-02-18 16:22:51.908,04925086045,,0,4925,086,045