In [1]:
#Charger les biblio
import numpy as np
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
import numpy as np
import string 
from subprocess import check_output
import seaborn as sns
from pylab import *
%matplotlib inline
sns.set()

On importe la table de données après l'avoir créer en concatenant toutes les tables de données 6min de l'année 2015 dans SPYDER.

In [2]:
df  = pd.read_csv("df15.csv", header = None, sep = ',')

In [3]:
df.columns = ['col']

In [4]:
df.head()

                                                 col
0  0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18...
1  453#M4C,13,380,Je,01/01/15,00:00,10,250,0,0,0,...
2  454#M4D,13,810,Je,01/01/15,00:00,30,230,0,0,0,...
3  455#M4E,14,360,Je,01/01/15,00:00,0,0,0,0,0,0,,...
4  456#M4F,14,845,Je,01/01/15,00:00,30,230,0,0,0,...

In [ ]:
df[['rgs','PR','mm','js','jma','hm','Q1','Q2','Q3','Q4','Q5','Q6','_',
    'V1','V2','V3','V4','V5','V6','_','Accidents','Toccupé','Qualité']] = df.col.str.split(",",expand=True,)
df