# Données 5 sc une semaine

In [2]:
#Charger les biblio
import numpy as np
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
import numpy as np
import string 
from subprocess import check_output
import seaborn as sns
from pylab import *
%matplotlib inline
sns.set()

In [4]:
# Lire la table avec 'header'
df = pd.read_csv('Hmvl33.csv', sep=';', engine='python')

In [5]:
df.head()

,code,id,equipement_id,date_reception,trame_hmvl
0,MBS,7357,7357,2019-02-18 00:00:00.146,0543110903705431109037256930750412569307504125...
1,MPA,7356,7356,2019-02-18 00:00:00.146,@
2,MPH,7355,7355,2019-02-18 00:00:00.146,058520920440585209204405852092044@
3,SFB-TPCCEN_RDTSCB001,7850,7850,2019-02-18 00:00:01.374,@
4,SMA-INTBAU_RDTSCB001,7859,7859,2019-02-18 00:00:01.374,@

In [6]:
# Remplacer les NaN par des zeros dans trame_hmvl
df.trame_hmvl.fillna('0', inplace=True)

In [7]:
# Reindexer la dataframe
df.index = range(len(df))

In [8]:
#changeaons les noms de colonnes
df.columns = ['code', 'id','equipement_id', 'date','trame']

In [9]:
# On enlève les @
df["trame"] = df["trame"].str.replace("@", "")

In [10]:
# On ajoute une colonne Count pour compter chacune
df['Count'] = df['trame'].str.len()

In [11]:
df.Count.max()/11

60.0

In [12]:
# Supprimons les lignes differentes de zero
df = df[df.Count != 0]

In [13]:
# Supprimons les lignes differentes de 1
df = df[df.Count != 1]

In [ ]:
dff = df.groupby("Count").count()
# La somme cumulé
dff['CUMS'] = dff['id'].cumsum(axis = 0)