In [1]:
#Charger les biblio
import numpy as np
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
import numpy as np
import string 
from subprocess import check_output
import seaborn as sns
from pylab import *
%matplotlib inline
sns.set()

In [2]:
# Lire la table avec 'header'
df = pd.read_csv('Hmvl33.csv', sep=';', engine='python')

In [38]:
dff = df[0:2935659]

In [39]:
# Remplacer les NaN par des zeros dans trame_hmvl
dff.trame_hmvl.fillna('0', inplace=True)

In [40]:
# Reindexer la dataframe
dff.index = range(len(dff))

In [41]:
#changeaons les noms de colonnes
dff.columns = ['code', 'id','equipement_id', 'date','trame']

In [42]:
# On enlève les @
dff["trame"] = dff["trame"].str.replace("@", "")

C:\Users\oumayma.doughmi\ANACONDA\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [43]:
liste = ["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10']
# Ajouter les colonnes, en séparant la colonne 'trame' 
for i in range(len(liste)):
    dff[liste[i]] = dff["trame"].str.slice(11*i,11*(i+1))

C:\Users\oumayma.doughmi\ANACONDA\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [44]:
# Supprimer les colonnes xj
df0 = dff.drop(['x3','x1','x2','x4','x5','x6','x7','x8', 'x9', 'x10', 'trame'], axis=1)
# df1
df1 = dff.drop(['x3','x0','x2','x4','x5','x6','x7','x8', 'x9', 'x10',  'trame'], axis=1)
df2 = dff.drop(['x3','x1','x0','x4','x5','x6','x7','x8', 'x9', 'x10', 'trame'], axis=1)
df3 = dff.drop(['x0','x1','x2','x4','x5','x6','x7','x8', 'x9', 'x10', 'trame'], axis=1)
df4 = dff.drop(['x0','x1','x2','x3','x5','x6','x7','x8', 'x9', 'x10', 'trame'], axis=1)
df5 = dff.drop(['x0','x1','x2','x4','x3','x6','x7','x8', 'x9', 'x10', 'trame'], axis=1)
df6 = dff.drop(['x0','x1','x2','x4','x5','x3','x7','x8', 'x9', 'x10', 'trame'], axis=1)
df7 = dff.drop(['x0','x1','x2','x4','x5','x6','x3','x8', 'x9', 'x10', 'trame'], axis=1)
df8 = dff.drop(['x0','x1','x2','x4','x5','x6','x3','x7', 'x9', 'x10', 'trame'], axis=1)
df9 = dff.drop(['x0','x1','x2','x4','x5','x6','x3','x7', 'x8', 'x10',  'trame'], axis=1)

df10 = dff.drop(['x0','x1','x2','x4','x5','x6','x3','x7', 'x9', 'x8','trame'], axis=1)

In [45]:
liste = ["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10']
liste2 = [df0,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]

    # Séparer la colonne xi en 4 colonnes  
for i, f in zip(range( len(liste)), liste2):
    f["voie"] = f[liste[i]].str.slice(0,1)
    f["horodatage"] = f[liste[i]].str.slice(1,5)
    f["vitesse"] = f[liste[i]].str.slice(5,8)
    f["longueur"] = f[liste[i]].str.slice(8,11)

In [46]:
# rename columns
for i,f in zip(range( len(liste)), liste2):
    
    f.rename(columns={liste[i]:'x'}, inplace=True)

In [47]:
# Concatener les data
result = pd.concat(liste2)

In [48]:
# Reindexer la dataframe
result.index = range(len(result))

In [49]:
# On ajoute une colonne Count pour compter chacune
result['len'] = result['x'].str.len()
# Eliminer les lignes = 0 et 1
result = result[result.len != 0]
result = result[result.len != 1]

In [26]:
result.head()

,code,id,equipement_id,date,x,voie,horodatage,vitesse,longueur,len
0,MBS,7357,7357,2019-02-18 00:00:00.146,05431109037,0,5431,109,037,11
2,MPH,7355,7355,2019-02-18 00:00:00.146,05852092044,0,5852,092,044,11
6,M1b,6383,6383,2019-02-18 00:00:02.069,15736085041,1,5736,085,041,11
8,M1d,6385,6385,2019-02-18 00:00:02.069,15004114040,1,5004,114,040,11
9,M1e,6386,6386,2019-02-18 00:00:02.069,12780093040,1,2780,093,040,11

In [27]:
# Créer une fonction pourcentage
def prc(part, whole):
    return 100 * float(part)/float(whole)

In [29]:
# Voyons le pourcentage des lignes dont 'len' diffenrent de 11
m = result[(result['len'] != 11)]
prc(len(p1),len(result))

0.029717093272050084

Il y a environ 0.03% de lignes dont la longueur du string 'x' est différente d.

In [50]:
# Supprimons ces observations.
p1 = result[result.len == 11]

In [51]:
# Supprimons la colonne
p1 = p1.drop(['x'], axis=1)

In [52]:
#Exporter la table
p1.to_csv('p1.csv', index = False, encoding = 'utf-8')

In [12]:
dff = df[8806977:11742637]

In [69]:
len(df)

11742637

In [13]:
# Remplacer les NaN par des zeros dans trame_hmvl
dff.trame_hmvl.fillna('0', inplace=True)

In [14]:
# Reindexer la dataframe
dff.index = range(len(dff))
#changeaons les noms de colonnes
dff.columns = ['code', 'id','equipement_id', 'date','trame']
# On enlève les @
dff["trame"] = dff["trame"].str.replace("@", "")
liste = ["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10']
# Ajouter les colonnes, en séparant la colonne 'trame' 
for i in range(len(liste)):
    dff[liste[i]] = dff["trame"].str.slice(11*i,11*(i+1))

C:\Users\oumayma.doughmi\ANACONDA\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\oumayma.doughmi\ANACONDA\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [15]:
# Supprimer les colonnes xj
df0 = dff.drop(['x3','x1','x2','x4','x5','x6','x7','x8', 'x9', 'x10', 'trame'], axis=1)
# df1
df1 = dff.drop(['x3','x0','x2','x4','x5','x6','x7','x8', 'x9', 'x10',  'trame'], axis=1)
df2 = dff.drop(['x3','x1','x0','x4','x5','x6','x7','x8', 'x9', 'x10', 'trame'], axis=1)
df3 = dff.drop(['x0','x1','x2','x4','x5','x6','x7','x8', 'x9', 'x10', 'trame'], axis=1)
df4 = dff.drop(['x0','x1','x2','x3','x5','x6','x7','x8', 'x9', 'x10', 'trame'], axis=1)
df5 = dff.drop(['x0','x1','x2','x4','x3','x6','x7','x8', 'x9', 'x10', 'trame'], axis=1)
df6 = dff.drop(['x0','x1','x2','x4','x5','x3','x7','x8', 'x9', 'x10', 'trame'], axis=1)
df7 = dff.drop(['x0','x1','x2','x4','x5','x6','x3','x8', 'x9', 'x10', 'trame'], axis=1)
df8 = dff.drop(['x0','x1','x2','x4','x5','x6','x3','x7', 'x9', 'x10', 'trame'], axis=1)
df9 = dff.drop(['x0','x1','x2','x4','x5','x6','x3','x7', 'x8', 'x10',  'trame'], axis=1)

df10 = dff.drop(['x0','x1','x2','x4','x5','x6','x3','x7', 'x9', 'x8','trame'], axis=1)

In [16]:
liste = ["x0","x1","x2","x3","x4","x5","x6","x7","x8","x9",'x10']
liste2 = [df0,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]

    # Séparer la colonne xi en 4 colonnes  
for i, f in zip(range( len(liste)), liste2):
    f["voie"] = f[liste[i]].str.slice(0,1)
    f["horodatage"] = f[liste[i]].str.slice(1,5)
    f["vitesse"] = f[liste[i]].str.slice(5,8)
    f["longueur"] = f[liste[i]].str.slice(8,11)

In [17]:
# rename columns
for i,f in zip(range( len(liste)), liste2):
    
    f.rename(columns={liste[i]:'x'}, inplace=True)

In [18]:
# Concatener les data
result = pd.concat(liste2)
# Reindexer la dataframe
result.index = range(len(result))

In [19]:
# On ajoute une colonne 'len' pour compter chacune
result['len'] = result['x'].str.len()
# Eliminer les lignes = 0 et 1
result = result[result.len != 0]
result = result[result.len != 1]

In [20]:
p4 = result[result.len == 11]
# Supprimons la colonne
p4 = p4.drop(['x'], axis=1)
#Exporter la table
p4.to_csv('p4.csv', index = False, encoding = 'utf-8')

In [ ]:
p1 = pd.read_csv('p1.csv', sep=',', engine='python')
p2 = pd.read_csv('p2.csv', sep=',', engine='python')

In [22]:
p2.head()

  code,id,equipement_id,date,voie,horodatage,vitesse,longueur,len
0  M4n,6366,6366,2019-02-19 18:33:22.049,2,4163,0...
1  M4o,6367,6367,2019-02-19 18:33:22.049,1,3822,0...
2  M5E,6398,6398,2019-02-19 18:33:22.049,0,1508,0...
3  M5f,6414,6414,2019-02-19 18:33:22.049,2,5546,0...
4  M5J,6401,6401,2019-02-19 18:33:22.049,1,4238,0...

In [ ]:
p = [p1, p2, p3, p4]
# Concatener les data
df = pd.concat(p)