In [3]:
#Charger les biblio
import numpy as np
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
import numpy as np
import string 
from subprocess import check_output
import seaborn as sns
from pylab import *
%matplotlib inline
sns.set()

In [31]:
 tab = pd.read_csv('HMVL001.csv', header=None, sep=';', engine='python')

In [32]:
#Transformer la table en dataframe
tab = pd.DataFrame(tab)
tab.head()

                                                   0
0                              21509203603407084035"
1  "M3o";6346;6346;"2019-02-24 14:33:34.049";"013...
2  "M3O";6325;6325;"2019-02-24 14:33:34.049";"148...
3  "M3q";6348;6348;"2019-02-24 14:33:34.049";"018...
4  "M3s";6350;6350;"2019-02-24 14:33:34.049";"106...

In [33]:
#supprimer la premiere ligne de la table
#tab.drop([0], inplace=True)

In [34]:
#Telecharger la table
#tab.to_csv('tab001csv', index = False, encoding = 'utf-8')

In [38]:
tab001.columns = ['col']

In [40]:
tab001['A'], tab001['B'], tab001['C'], tab001['D'], tab001['E'] = tab001['col'].str.split(';', 5).str

In [41]:
tab001.head()

,col,A,B,C,D,E
0,"""M3o"";6346;6346;""2019-02-24 14:33:34.049"";""013...","""M3o""",6346,6346,"""2019-02-24 14:33:34.049""","""013190820381146008703421618111040116710800340..."
1,"""M3O"";6325;6325;""2019-02-24 14:33:34.049"";""148...","""M3O""",6325,6325,"""2019-02-24 14:33:34.049""","""148490900361494409303605134079037151670890380..."
2,"""M3q"";6348;6348;""2019-02-24 14:33:34.049"";""018...","""M3q""",6348,6348,"""2019-02-24 14:33:34.049""","""018100840424192408604031977072037420050960421..."
3,"""M3s"";6350;6350;""2019-02-24 14:33:34.049"";""106...","""M3s""",6350,6350,"""2019-02-24 14:33:34.049""","""106900850372079709903900958083039"""
4,"""M3S"";6326;6326;""2019-02-24 14:33:34.049"";""042...","""M3S""",6326,6326,"""2019-02-24 14:33:34.049""","""04207089041143110870432433308904404490081040"""

In [ ]:
HMVL002_1

In [46]:
tab = pd.read_csv('HMVL002_1.csv', header=None, sep=';', engine='python')

In [47]:
tab.head()

                                                   0
0  M3o,6346,6346,2019-02-24 14:33:34.049,01319082...
1  M3O,6325,6325,2019-02-24 14:33:34.049,14849090...
2  M3q,6348,6348,2019-02-24 14:33:34.049,01810084...
3  M3s,6350,6350,2019-02-24 14:33:34.049,10690085...
4  M3S,6326,6326,2019-02-24 14:33:34.049,04207089...

In [4]:
# Lire la table  
tab001 = pd.read_csv('HMVL001.csv', header=None, sep=';', engine='python')

In [5]:
tab001.head()

,0,1,2,3,4
0,M3o,6346,6346.0,2019-02-24 14:33:34.049,0131908203811460087034216181110401167108003401...
1,M3O,6325,6325.0,2019-02-24 14:33:34.049,1484909003614944093036051340790371516708903805...
2,M3q,6348,6348.0,2019-02-24 14:33:34.049,0181008404241924086040319770720374200509604212...
3,M3s,6350,6350.0,2019-02-24 14:33:34.049,106900850372079709903900958083039
4,M3S,6326,6326.0,2019-02-24 14:33:34.049,04207089041143110870432433308904404490081040

In [6]:
tab001.columns = ['station', 'X','Y', 'date','pm']

In [11]:
tab001

,station,X,Y,date,pm
0,M3o,6346,6346.0,2019-02-24 14:33:34.049,0131908203811460087034216181110401167108003401...
1,M3O,6325,6325.0,2019-02-24 14:33:34.049,1484909003614944093036051340790371516708903805...
2,M3q,6348,6348.0,2019-02-24 14:33:34.049,0181008404241924086040319770720374200509604212...
3,M3s,6350,6350.0,2019-02-24 14:33:34.049,106900850372079709903900958083039
4,M3S,6326,6326.0,2019-02-24 14:33:34.049,04207089041143110870432433308904404490081040
5,M3v,6351,6351.0,2019-02-24 14:33:34.049,101670870351040009403020559107039
6,M3w,6352,6352.0,2019-02-24 14:33:34.049,1367909904823684096040036940850422376110104213...
7,M3W,6328,6328.0,2019-02-24 14:33:34.049,12506097051026090920401283609103902933081043
8,M3x,6353,6353.0,2019-02-24 14:33:34.049,250831040431514610303705191089035
9,M3X,6329,6329.0,2019-02-24 14:33:34.049,1542607903815493079041055040800340566207903715...
10,M3y,6354,6354.0,2019-02-24 14:33:34.049,030540970492305510904403296092043
11,M3Y,6330,6330.0,2019-02-24 14:33:34.049,2065810603800707084041208681060432092310904211...
12,M3z,6355,6355.0,2019-02-24 14:33:34.049,018890840361198008503402187083039
13,M4b,6357,6357.0,2019-02-24 14:33:34.049,0302109404203169093043
14,M4B,6333,6333.0,2019-02-24 14:33:34.049,01258076039014260870402162708503311695076042
15,M4d,6359,6359.0,2019-02-24 14:33:34.049,1362810604003658088045237670820311378710003603...
16,M4e,6360,6360.0,2019-02-24 14:33:34.049,1062510404930631109040206820930383075811404100...
17,M4f,6361,6361.0,2019-02-24 14:33:34.049,0307108804623333083035135241030510354108604513...
18,M4h,6368,6368.0,2019-02-24 14:33:34.049,NaN
19,M4i,6369,6369.0,2019-02-24 14:33:34.049,02417073044
20,M4k,6363,6363.0,2019-02-24 14:33:34.049,209660830430101507903921148095047
21,M4l,6364,6364.0,2019-02-24 14:33:34.049,0551207503825840100043
22,M4m,6365,6365.0,2019-02-24 14:33:34.049,0005106904720551104048
23,M4n,6366,6366.0,2019-02-24 14:33:34.049,2309708304203146097045033300980503333810604723...
24,M4o,6367,6367.0,2019-02-24 14:33:34.049,201640850400028008204200573076034
25,M5E,6398,6398.0,2019-02-24 14:33:34.049,NaN
26,M5J,6401,6401.0,2019-02-24 14:33:34.049,1260707002812695073032027830750241284709002602...
27,M5n,6421,6421.0,2019-02-24 14:33:34.049,5244911303702511091033425320850341275008003632...
28,M5v,6427,6427.0,2019-02-24 14:33:34.049,0481610003735038127044150391200360521209303045...
29,M5x,6428,6428.0,2019-02-24 14:33:34.049,1366510903203723120037339491110481401411003634...
...,...,...,...,...,...
101089,M8a,6470,6470.0,2019-02-24 15:49:52.586,05651081036356710990400574807904305957083040
101090,M8B,6443,6443.0,2019-02-24 15:49:52.586,2425108804814253075048042980840452434607804014...
101091,M8d,6472,6472.0,2019-02-24 15:49:52.586,2120707903101231064041112690790372131208203611...
101092,M8D,6446,6446.0,2019-02-24 15:49:52.586,202400950430032707606910746096056
101093,M8E,6447,6447.0,2019-02-24 15:49:52.586,2065707304010734081043007690650432084607704110...
101094,M8i,6476,6476.0,2019-02-24 15:49:52.586,04175084041142221060461431809804014592100043
101095,M8K,6453,6453.0,2019-02-24 15:49:52.586,0584806004605926060038059900570400006905503600...
101096,M8n,6479,6479.0,2019-02-24 15:49:52.586,054080760380581407703915926078042
101097,MPG,7354,7354.0,2019-02-24 15:49:54.229,0483911504304839115043048391150432515510604025...
101098,EAR1INTBAU_RDTSTC030,7857,7857.0,2019-02-24 15:49:54.794,1519007304215340068030@
101099,EAR1INTBAU_RDTSTC031,7858,7858.0,2019-02-24 15:49:54.794,@
101100,SBM-TPCCEN_RDTSTC002,7849,7849.0,2019-02-24 15:49:54.794,1485906804174900085037350600710325508907803525...
101101,SMT-EXTBAU_RDTSTC002,7847,7847.0,2019-02-24 15:49:54.794,2478108804204844067052250610650455506308505035...
101102,SMT-INTBAU_RDTSTC001,7848,7848.0,2019-02-24 15:49:54.794,05126051030551520710312523506905345353075038@
101103,SPF-EXTBAU_RDTSTC001,7851,7851.0,2019-02-24 15:49:54.794,3481306204654908076038349940660435508306804135...
101104,STJ-INTBAU_RDTSTC001,7846,7846.0,2019-02-24 15:49:54.794,14808 54906063 3492407102315142078024@
101105,TFO-INTBAU_RDTSTC002,7852,7852.0,2019-02-24 15:49:54.794,44985066036@
101106,TMA-INTN01_RDTSCB002,7860,7860.0,2019-02-24 15:49:54.794,1125106803211366070041314770950371155806503321...
101107,TOL-EXTN04_RDTSTC001,7862,7862.0,2019-02-24 15:49:54.794,@
101108,TPA-EXTBAU_RDTSTC001,7855,7855.0,2019-02-24 15:49:54.794,0487305204034900071045449700560443503907104005...
101109,TPA-EXTBAU_RDTSTC002,7854,7854.0,2019-02-24 15:49:54.794,5508406603715118061040@
101110,TPA-EXTBAU_RDTSTC004,7856,7856.0,2019-02-24 15:49:54.794,@
101111,TPA-INTBAU_RDTSTC003,7853,7853.0,2019-02-24 15:49:54.794,25058091024@
101112,MPB,7352,7352.0,2019-02-24 15:49:55.143,@
101113,MPH,7355,7355.0,2019-02-24 15:49:55.143,0488208204525090113046251911080520521211405025...
101114,M3d,6337,6337.0,2019-02-24 15:49:57.219,1504607803605172057035
101115,M3b,6335,6335.0,2019-02-24 15:49:57.22,23799074042139080710381403207803404088076042
101116,M5l,6419,6419.0,2019-02-24 15:49:57.22,01260098033113950900164144508903441713077038
101117,SFB-TPCCEN_RDTSCB001,7850,7850.0,2019-02-24 15:49:57.794,1062006004230679073050207450660392093806904040...
101118,SMA-INTBAU_RDTSCB001,7859,NaN,None,None

In [33]:
type(tab001['date'])

pandas.core.series.Series

In [32]:
tab001['date']= tab001['date'].astype(str)

In [34]:
from datetime import datetime
# Convertire la colonne date de series to string
#tab001['date'] = tab001['date'].astype(str)
#tab001['date'] = tab001.date.apply(str)
tab001['date'] = pd.to_datetime(tab001['date'])

ValueError: ('Unknown string format:', 'None')

In [29]:

tab001['time'] = datetime.strptime(tab001['date'], '%Y-%m-%d %H:%M:%S')

TypeError: strptime() argument 1 must be str, not Series